.home {
  display: grid;
  justify-content: center;
  color: #000000c3;
  letter-spacing: 1.5px;
  padding: 20px 0;
  margin-top: 30px;
  background: none !important;
}

.styled_table {
  border-collapse: collapse;
  margin: auto;
  font-size: 20px;
  width: 1100px;
  border: none !important;
}

.styled_table th,
.styled_table td {
  padding: 12px 15px;
}

.styled_table thead tr {
  background: #4f98d5 !important;
  color: #fff;
  text-align: left;
  border-radius: 25px !important;
  border: none !important;
}

.styled_table tbody tr {
  border-bottom: #4f99d53c solid 1px;
  font-size: 18px;
} 

.btn {
  border: none !important;
  color: #000 !important;
  padding: 0 !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px !important;
  margin: 4px 2px;
  cursor: pointer;
  outline: none !important;
  border-radius: 20px !important;
  width: 65px !important;
  background: rgba(8, 2, 2, 0.074) !important;
  font-weight: 600 !important;
}

.btn_edit {
  color: green !important;
}

.btn_delete {
  color: red !important;
} 

.btn_product {
  display: block !important;
  float: right;
  font-size: 20px !important;
  font-weight: 600 !important; 
  margin-bottom: 10px;
  color: #fff !important;
  border-radius: 0 !important;
  width: 120px !important;
  background: #00aee9 !important;
  letter-spacing: 2px;
  padding: 5px !important;
}

.btn_product:hover {
  opacity: 0.8;
}

.btn_productLink {
  text-decoration: none;
  color: #000 !important;
}

.btn_productLink img {
  display: block;
  width: 50px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.btn_productLink:hover {
  color: #000;
}

.data {
  font-size: 15px;
  font-weight: 600;
}

.logout {
  background: red;
  border: none;
  color: #fff;  
}