@import url("https://fonts.googleapis.com/css2?family=Ysabeau&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral&display=swap");

* {
  font-family: "Ysabeau", sans-serif;
  font-family: "Lora", serif;
  font-family: "Spectral", serif !important;
  font-weight: 600 !important;
}
 