@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');

* {
  font-family: 'Monda', sans-serif;
  letter-spacing: 2px;
}

.crud {
  background: #182c3a;
  min-height: 100vh;
}

th,
td {
  vertical-align: baseline !important;
  color: #b6863f !important;
  font-size: 1.3rem;
}

.header {
  position: fixed;
  width: 25%;
}

.title {
  font-size: 5rem;
  font-weight: bold;
  margin: 20px;
}

.link {
  width: 50%;
  background: white;
  color: #000;
  margin: 20px;
  padding: 15px;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}

.header .link .active {
  color: #b6863f;
}

Form {
  margin-top: 5rem;
  color: #fff;
}

.job {
  font-size: 0.8rem;
}